$primaryColor: #2d7cf1;
$secondaryColor: #ff0077;
$backgroundColor: #f2f1f6;
$tagColor: #e3b041;
$dark-yellow: #ffca2c;
$red: #ff5261;
$gray: #707070;

// $theme-colors: (
//   warning: #ffd375,
// );
